<% form_for @refactoring do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :post_id, params[:post_id] %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </p>
  <p><%= f.submit %></p>
<% end %>
