<% title "Refactorings" %>

<% for refactoring in @refactorings %>
  <div class="code-preview">
    <div class="group">
      <span>
        <% if current_user == refactoring.user %>
          <%= link_to "Edit", edit_refactoring_path(refactoring) %> |
          <%= link_to "Delete", refactoring, :confirm => 'Are you sure?', :method => :delete %> |
        <% end %>
        <%= link_to "View", post_path(refactoring.post) %>
      </span>
    </div>
    <div class="code">
      <%= simple_format(refactoring.code) %>
    </div>
    <p class="author">by <%= refactoring.user.username %></p>
  </div>
<% end %>
