<% title "Recent Posts", false %>

<div class="group">
  <h2 style="float: left"><%= @content_for_title %></h2>
  <div class="button" style="text-align: right">
    <% if current_user %>
      <%= link_to "Post code", new_post_path %>
    <% else %>
      <%= link_to "Log in to post code", login_path %>
    <% end %>
  </div>
</div>

<% for post in @posts %>
  <div class="code-preview">
    <div class="group">
      <h3><%= pluralize(post.refactorings.size, "Refactoring") %></h3>
      <span>
        <% if current_user == post.user %>
          <%= link_to "Edit", edit_post_path(post) %> |
          <%= link_to "Delete", post, :confirm => 'Are you sure?', :method => :delete %> |
        <% end %>
        <%= link_to "View", post_path(post) %>
      </span>
    </div>
    <div class="code">
      <%= simple_format(post.code) %>
    </div>
    <p class="author">by <%= post.user.username %></p>
  </div>
<% end %>
