<% title "Recent Posts", false %>

<%= render :partial => "shared/title_and_button" %>

<% for post in @posts %>
  <div class="code-preview">
    <div class="group">
      <h3><%= pluralize(post.refactorings.size, "Refactoring") %></h3>
      <span><%= link_to "View", post_path(post) %> entire post. </span>
    </div>
    <div class="code snippet">
      <%= simple_format(post.code) %>
    </div>
    <p class="author">by <%= post.user.username %></p>
  </div>
<% end %>
