<% title "Posts" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Code</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%=h post.name %></td>
      <td><%=h post.description %></td>
      <td><%= simple_format(post.code) %></td>
      <td><%= link_to "Show", post %></td>
      <% if current_user == post.user %>
        <td><%= link_to "Edit", edit_post_path(post) %></td>
        <td><%= link_to "Delete", post, :confirm => 'Are you sure?', :method => :delete %></td>
      <% else %>
        <td><%= link_to "Refactor", new_refactoring_path(:post_id => post) %></td>
      <% end %>
      <td><%= link_to "Refactorings", refactorings_path(:post_id => post) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
