<% title "Posted on #{@post.created_at.strftime("%b. %d, %Y")}", false %>

<div class="group">
  <h2 style="float: left"><%= @content_for_title %></h2>
  <div class="button" style="text-align: right">
    <% if current_user %>
      <% if current_user != @post.user %>
        <%= link_to "Refactor this code", new_refactoring_path(:post_id => @post) %>
      <% end %>
    <% else %>
      <%= link_to "Log in to refactor", login_path %>
    <% end %>
  </div>
</div>

<div class="code-preview">
  <div class="group">
    <h3>by <b><%= @post.user.username %></b></h3>
    <span>
      <% if current_user == @post.user %>
        <%= link_to "Edit", edit_post_path(@post) %> |
        <%= link_to "Delete", @post, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </span>
  </div>
  <div class="code">
    <%= simple_format(@post.code) %>
  </div>
  <div class="description">
    <%= simple_format(@post.description) %>
  </div>
</div>

<% if @post.refactorings.empty? %>
  <h2 style="font-size: 18px; padding-bottom: 8px; margin-bottom: 30px;">No refactorings yet</h2>
<% else %>
  <h2 style="border-bottom: 2px solid #e2e1d4; font-size: 18px; padding-bottom: 8px; margin-bottom: 30px;">Refactorings</h2>
<% end %>

<% @post.refactorings.each do |refactoring| %>
  <div class="code-preview">
    <div class="group">
      <h3 style="font-size: 16px">by <b><%= refactoring.user.username %></b></h3>
      <span>
        <% if current_user == refactoring.user %>
          <%= link_to "Edit", edit_refactoring_path(refactoring) %> |
          <%= link_to "Delete", refactoring, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </span>
    </div>
    <div class="code">
      <%= simple_format(refactoring.code) %>
    </div>
    <div class="description">
      <%= simple_format(refactoring.description) %>
    </div>
  </div>
<% end %>

<div class="button">
  <%= link_to "&larr; All posts", posts_path %>
</div>
