<% title "Post" %>

<p>
  <% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post) %> |
    <%= link_to "Delete", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <% else %>
    <%= link_to "Refactor", new_refactoring_path(:post_id => @post) %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%=h @post.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @post.description %>
</p>
<p>
  <strong>Code:</strong>
  <%= simple_format(@post.code) %>
</p>
