<% title "Post" %>

<p>
  <strong>Name:</strong>
  <%=h @post.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @post.description %>
</p>
<p>
  <strong>Code:</strong>
  <%=h @post.code %>
</p>

<p>
  <% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post) %> |
    <%= link_to "Delete", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", posts_path %>
</p>
